name: boston

on: [push]
jobs:
  run:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: cml_run
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
            echo "Run docker"
            docker build -t hhurchand/bdebneptunelocal:latest .
            docker run  hhurchand/bdebneptunelocal:latest
#            docker run hhurchand/bded_neptune:latest
